* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 1100px;
  max-width: 100%;
  margin: 0px auto;
}

body {
  font-family: "Livvic";
  font-weight: 400;
}

/* header */
#header {
  background-color: #014e56;
  padding: 20px 0px;
}

.header-container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-list_item {
  padding-left: 40px;
}

.nav-list_link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.header-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border: 2px solid #ffffff;
  border-radius: 24px;
  padding: 9px 32px;
}

.burger-menu {
  display: none;
  background-color: transparent;
  border: none;
}

.burger-menu span {
  width: 20px;
  height: 3px;
  display: block;
  background: #ffffff;
  margin-bottom: 4px;
}

/* /header */

/* contact */

#contact {
  padding: 120px 0px;
  background-color: #014e56;
  position: relative;
}

.contact-back_img {
  position: absolute;
  top: 0px;
  left: 0px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
}

.contact-info_title {
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  color: #ffffff;
  margin-bottom: 16px;
}

.contact-card_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #f67e7e;
  margin-bottom: 32px;
}

.contact-card_list {
  list-style: none;
}

.contact-card_item {
  padding-bottom: 8px;
}

.contact-card_item:last-child {
  padding-bottom: 0px;
}

.contact-card_content {
  width: 540px;
  display: flex;
  align-items: center;
}

.contact-card_text {
  padding-left: 23px;
}

.contact-card_text h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.form-label {
  display: block;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 5px;
  margin-left: 10px;
}

.form-input,
textarea {
  width: 540px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 24px;
  font-size: 20px;
  color: #ffffff;
}

textarea {
  height: 70px;
}
.contact-back_img__2 {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
/* /contact */

/* footer */

#footer {
  padding: 48px 0px;
  background-color: #002529;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-info {
  display: flex;
  align-items: center;
}

.footer-link_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.footer-list_link {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
}

.footer-info_list {
  list-style: none;
  margin-left: 125px;
}

.footer-info_item {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  opacity: 0.6;
}

.footer-icon_list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 75px;
}

.footer-icon_item {
  padding-right: 16px;
}

.footer-text {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  opacity: 0.6;
}

/* /footer */

/* responsive 768 */
@media screen and (max-width: 1100px) {
  .container {
    padding: 0px 20px;
  }

  /* contact */

  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-info_title,
  .contact-card_title {
    text-align: center;
  }

  /* contact */

  /* footer */
  .footer-container {
    flex-direction: column;
  }

  .footer-info {
    justify-content: space-between;
  }

  .footer-info_list {
    text-align: right;
  }

  .footer-icons {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
  }

  /* /footer */
}

/* /responsive 768 */

/* responsive 560 */
@media screen and (max-width: 560px) {
  .container {
    padding: 0px 40px;
  }

  /* header */
  .header-container {
    justify-content: space-between;
  }

  .nav {
    flex-direction: column;
    position: absolute;
    z-index: 1;
    transform: translateY(-150px);
    left: 0px;
    right: 0px;
    background-color: darkcyan;
    padding: 20px;
    transition: all 0.5s;
  }

  .nav-list_item {
    padding-left: 5px;
  }

  .burger-menu {
    display: block;
  }

  .burger-menu:focus + .nav {
    transform: translateY(150px);
  }

  /* /header */

  /* contact */

  .contact-card_item {
    margin-bottom: 20px;
  }

  .contact-card_content {
    width: 90%;
  }

  form {
    padding: 0px 20px;
  }

  .form-input,
  textarea {
    width: 440px;
  }

  /* /contact */
}

/* /responsive 560 */

/* responsive 375 */
@media screen and (max-width: 375px) {
  .container {
    padding: 0px 20px;
  }

  /* contact */
  .contact-info_title {
    font-size: 40px;
    line-height: 40px;
  }

  .form-input,
  textarea {
    width: 300px;
  }

  /* /contact */

  /* footer */

  .footer-container,
  .footer-info,
  .footer-icons {
    flex-direction: column;
  }
  .footer-info_list {
    margin: 24px auto 40px;
    text-align: center;
  }

  .footer-icon_list {
    justify-content: center;
  }

  .footer-text {
    text-align: center;
  }

  /* /footer */
}

/* /responsive 375 */
