* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 1100px;
  max-width: 100%;
  margin: 0px auto;
}

body {
  font-family: "Livvic";
  font-weight: 400;
}

/* header */
#header {
  background-color: #014e56;
  padding: 20px 0px;
}

.header-container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-list_item {
  padding-left: 40px;
}

.nav-list_link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.header-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border: 2px solid #ffffff;
  border-radius: 24px;
  padding: 9px 32px;
}

.burger-menu {
  display: none;
  background-color: transparent;
  border: none;
}

.burger-menu span {
  width: 20px;
  height: 3px;
  display: block;
  background: #ffffff;
  margin-bottom: 4px;
}

/* /header */

/* hero content */

#hero-content {
  padding: 100px 0px 170px;
  background-color: #014e56;
  position: relative;
}

.hero-content_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero-back_img {
  position: absolute;
  left: -10px;
}

.hero-info {
  flex-basis: 60%;
}

.hero-text {
  flex-basis: 40%;
}

.hero-info_title {
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: #ffffff;
}

.hero-info_title span {
  color: #f67e7e;
}

.hero-text {
  position: relative;
  padding-top: 79px;
}

.hero-des {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.hero-des::before {
  content: "";
  width: 50px;
  height: 4px;
  position: absolute;
  background-color: #79c8c7;
  top: 0px;
}

.hero-back_img__2 {
  position: absolute;
  bottom: 0px;
  right: 140px;
}

/* /hero content */

/* our team */
#ourTeam {
  padding: 140px 0px;
  background-color: #012f34;
  position: relative;
}

.ourTeam-container {
  display: flex;
  justify-content: space-between;
}

.ourTeam-title {
  width: 445px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
  position: relative;
}

.ourTeam-title::before {
  content: "";
  width: 50px;
  height: 4px;
  position: absolute;
  background: #f67e7e;
  top: -54px;
}

.ourTeam-card_list {
  list-style: none;
}

.ourTeam-card_item {
  padding-bottom: 32px;
}

.ourTeam-card_item:last-child {
  padding-bottom: 0px;
}

.ourTeam-card_content {
  width: 540px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ourTeam-card_info {
  padding-left: 23px;
}

.ourTeam-card_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f67e7e;
  margin-bottom: 16px;
}

.ourTeam-card_des {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  opacity: 0.8;
}

.ourTeam-back_img {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

/* /our team */

/* stories */

#stories {
  padding: 140px 0px;
  position: relative;
  background-color: #004047;
}

.stories-back_img {
  position: absolute;
  top: 0px;
  left: 0px;
}

.stories-title {
  width: 932px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  margin: 0px auto;
}

.stories-title span {
  color: #79c8c7;
}

.stories-card_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
}

.stories-card_content {
  width: 350px;
  text-align: center;
  background: url("../images/stories-card-back-img.svg") no-repeat;
  background-position: center top;
  padding: 30px 0px 0px 0px;
}

.stories-card_des {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}

.stories-card_title {
  font-weight: 700;
  font-size: 18px;
  color: #79c8c7;
  margin: 24px 0px 2px;
}

.stories-card_job {
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 32px;
}

.stories-card_img {
  width: 62px;
  height: 62px;
}

.stories-back_img__2 {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/* /stories */

/* get started */
#getStarted {
  padding: 76px 0px;
  background-color: #f67e7e;
  position: relative;
}

.getStarted-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.getStarted-content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;
}

.getStarted-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #012f34;
}

.getStarted-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #012f34;
  padding: 9px 32px;
  border: none;
  border-radius: 24px;
  border: 2px solid #012f34;
  background-color: transparent;
}

.getStarted-back_img {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

/* /get started */

/* footer */

#footer {
  padding: 48px 0px;
  background-color: #002529;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-info {
  display: flex;
  align-items: center;
}

.footer-link_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.footer-list_link {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
}

.footer-info_list {
  list-style: none;
  margin-left: 125px;
}

.footer-info_item {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  opacity: 0.6;
}

.footer-icon_list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 75px;
}

.footer-icon_item {
  padding-right: 16px;
}

.footer-text {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  opacity: 0.6;
}

/* /footer */

/* responsive 768 */

@media screen and (max-width: 768px) {
  .container {
    padding: 0px 20px;
  }

  /* hero content */

  .hero-content_container {
    flex-direction: column;
    text-align: center;
  }

  .hero-back_img {
    display: none;
  }

  .hero-info_title {
    font-size: 64px;
    line-height: 56px;
  }
  .hero-des {
    width: 457px;
    font-size: 15px;
  }

  .hero-text {
    padding-top: 24px;
    margin-bottom: 100px;
  }

  .hero-des::before {
    content: none;
  }

  .hero-back_img__2 {
    left: 50%;
    transform: translateX(-50%);
  }

  /* /hero content */

  /* our team */

  .ourTeam-container {
    justify-content: center;
    flex-wrap: wrap;
  }

  .ourTeam-title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 64px;
    position: relative;
    left: -30px;
  }

  .ourTeam-back_img {
    top: 0px;
    right: 0px;
  }

  /* /our team */

  /* stories */

  .stories-title {
    width: 573px;
    max-width: 100%;
    font-size: 32px;
    line-height: 32px;
  }

  .stories-card_list {
    align-items: center;
    flex-direction: column;
  }

  .stories-card_content {
    width: 573px;
    max-width: 100%;
  }

  .stories-card_item {
    margin-bottom: 48px;
  }

  .stories-card_item:last-child {
    margin-bottom: 0px;
  }

  /* /stories */

  /* get started */

  #getStarted {
    padding: 94px 0px;
  }

  .getStarted-title {
    font-size: 32px;
    line-height: 32px;
  }

  /* /get started */

  /* footer */
  .footer-container {
    flex-direction: column;
  }

  .footer-info {
    justify-content: space-between;
  }

  .footer-info_list {
    text-align: right;
  }

  .footer-icons {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
  }

  /* /footer */
}

/* /responsive 768 */

/* responsive 610 */

@media screen and (max-width: 610px) {
  /* header */
  .header-container {
    justify-content: space-between;
  }

  .nav {
    flex-direction: column;
    position: absolute;
    z-index: 1;
    transform: translateY(-150px);
    left: 0px;
    right: 0px;
    background-color: darkcyan;
    padding: 20px;
    transition: all 0.5s;
  }

  .nav-list_item {
    padding-left: 5px;
  }

  .burger-menu {
    display: block;
  }

  .burger-menu:focus + .nav {
    transform: translateY(150px);
  }

  /* /header */

  .hero-des {
    width: 100%;
  }

  /* our team */
  .ourTeam-card_content {
    width: 100%;
  }

  .ourTeam-title {
    width: 100%;
    text-align: center;
  }

  .ourTeam-back_img {
    display: none;
  }

  /* /our team */

  /* stories */
  .stories-card_content {
    width: 100%;
  }

  /* /stories */
}

/* /responsive 610 */

/* responsive 375 */

@media screen and (max-width: 375px) {
  /* hero */
  .hero-info_title {
    font-size: 40px;
    line-height: 40px;
  }

  .hero-des {
    font-size: 15px;
    line-height: 28px;
  }

  .hero-back_img__2 {
    width: 100%;
  }

  /* /hero */

  /* our team */

  .ourTeam-title {
    width: 240px;
    text-align: left;
  }

  .ourTeam-card_content {
    flex-direction: column;
    text-align: center;
  }

  /* /our team */

  /* stories */
  .stories-title {
    width: 327px;
  }

  /* /stories */

  /* get started */

  .getStarted-content {
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
  }

  .getStarted-title {
    margin-bottom: 24px;
  }

  /* /get started */

  /* footer */

  .footer-container,
  .footer-info,
  .footer-icons {
    flex-direction: column;
  }
  .footer-info_list {
    margin: 24px auto 40px;
    text-align: center;
  }

  .footer-icon_list {
    justify-content: center;
  }

  .footer-text {
    text-align: center;
  }

  /* /footer */
}

/* /responsive 375 */
